body{
	background: rgb(240,240,240);
	color: rgb(0,0,0);
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	text-align: center;
}

h1{
	font-size: 30px;
}

ul{
	list-style-type: none;
	padding-left: 0px
}

.container {
  width: 700px; /* set the width of your container */
  margin: 30px auto;
}

.box-white{
	background: white;
	padding: 30px;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
	border-radius:3px;
	margin: 10px auto;
}

#img-circle{
	border-radius:50%;
}
